<app-nav></app-nav>

<div id="usersTableDiv" style="display: block;" >
  <table id="clients" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead style="background-color: lightgreen;">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rut/DNI</th>
        <th>Correo</th>
        <th>Puntos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData">
        <th>{{user.id}}</th>
        <th>{{user.firstName}}</th>
        <th>{{user.lastName}}</th>
        <th>{{user.idNumber}}</th>
        <th>{{user.email}}</th>
        <th>{{user.points}}</th>
        <th>
          <button id="button" class="btn btn-primary" (click)="editUser(user.id)" >Editar</button>
          <button id="button" class="btn btn-danger" (click)="deleteUser(user.id)" >Eliminar</button>
      </tr>
    </tbody>
  </table>


</div>
<div class="center">
  <button id="createUser" class="btn btn-info" (click)="registerUser()" >Nuevo Usuario</button>
</div>
