<div id="log" class="login">
  <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <h1>Bienvendio Administrador</h1>
    <div class="mb-3">
      <label for="">Usuario</label>
     <input type="text" class="form-control" formControlName="user" id="">
    </div>
    <div class="mb-3">
      <label for="">Contraseña</label>
      <input type="text" class="form-control" formControlName="password">
    </div>
    <button type="submit" values="send" class="btn btn-info">Iniciar Sesión</button>
  </form>
</div>
