<div id="log" class="login">
  <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <h1>Bienvenido Administrador</h1>
    <div class="mb-3" style="margin-top: 10px;">
      <label for="">Usuario</label>
     <input type="text" class="form-control" formControlName="user" placeholder="Usuario">
    </div>
    <div class="mb-3">
      <label for="">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
    </div>
    <div id="alert" class="alert">
      <strong>{{message}}</strong>
    </div>
    <div class="center">
      <button type="submit" values="send" class="btn btn-info">Iniciar Sesión</button>

    </div>
  </form>
</div>
