<app-nav></app-nav>

<div id="log" class="center">
  <form class="custom-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Editar usuario</h3>
    <div class="mb-3">
      <label for="">Nombre</label>
      <input type="text" id="firstName" value={{data.firstName}} class="form-control" formControlName="firstName" placeholder="Nombre">
    </div>
    <div class="mb-3">
      <label for="">Apellido</label>
      <input type="text" id="lastName" value={{data.lastName}} class="form-control" formControlName="lastName" placeholder="Apellido">
    </div>

    <div class="mb-3">
      <label for="">Correo</label>
      <input type="email" id="email" value={{data.email}} class="form-control" formControlName="email" placeholder="Correo">
    </div>
    <div class="mb-3">
      <label for="">Puntos</label>
      <input type="number" id="points" value={{data.points}} class="form-control" formControlName="points" placeholder="Puntos">
    </div>
    <div id="alert" class="alert">
      <strong>{{message}}</strong>
    </div>

    <button type="submit" values="send" class="btn btn-info">Enviar cambios</button>

  </form>

</div>
